<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" style="color:red" routerLink="/dashboard">Honeywell Starwars</a>
  <a style="margin-left: 78%;cursor: pointer; font-size: 20px;" class="navbar-brand" (click)="logout()">Logout</a>
  <ul class="navbar-nav mr-auto">
  </ul>
</nav>
<div style="padding-top: 100px;">
    <div class="card" style="padding:20px;">
      <div *ngIf="starwarMovieDetailError" class="text-center alert alert-danger body" style="margin: 10px;">
        {{getStarwarMovieDetailErrorMessage}}
      </div>
      <div *ngIf="!starwarMovieDetailError">
        <div *ngIf="starwarMovieDetail; else elseBlock" class="card-body">
        <img class="card-img-top"
          src='https://lumiere-a.akamaihd.net/v1/images/the-last-jedi-theatrical-poster-tall-a_6a776211.jpeg' style="height:
          300px;" alt="Card image cap">
          <h4 class="card-title text-center" style="color:red">{{starwarMovieDetail.title}}</h4>
          <p class="card-text">{{starwarMovieDetail.opening_crawl}}</p>
          <h5>Director: {{starwarMovieDetail.director}}</h5>
          <h5>Producer: {{starwarMovieDetail.producer}}</h5>
          <h6>Released On: {{starwarMovieDetail.release_date}}</h6>
        </div>
      </div>
      <div class="text-center">
        <ng-template #elseBlock>
          <div class="text-center text-muted body">
              <div *ngIf="!starwarMovieDetailError">
                <img src="../assets/icon/loader1_gif.gif" width="50px" height="50px" style="border-radius: 50%;">
                <h6>Loading... Please wait</h6>
              </div>
          </div>
        </ng-template>
    </div>
</div>
<br>
<br>
<br>
<br>